
/* Global Styles */

html {
    font-family: 'Inter', sans-serif;
    color: #111827; /* text-gray-900 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f9fafb; /* bg-gray-50 */
    color: #4b5563; /* text-gray-600 */
    line-height: 1.625;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 900;
    letter-spacing: -0.025em;
    color: #111827;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 1.1;
    }
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111827;
}

p {
    font-size: 1rem;
    font-weight: 500;
    color: #6b7280; /* text-gray-500 */
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
